<!DOCTYPE html>
<html>
<head>
  <title>LendTu</title>

  <%= csrf_meta_tags %>
</head>
<body>

<div id="user_nav">
  <% if current_user %>
      Signed in as <strong><%= current_user.name %></strong>!

        <%= link_to "Sign out", logout_path, id: "sign_out" %>
      <ul>
        <li><%= link_to "Add Facebook", "/auth/facebook", id: "fb_add" %></li>
        <li><%= link_to "Add Google", "/auth/google_oauth2", id: "google_add" %></li>
        <li><%= link_to "Create LendTu Login", "signup", id: "signup" %></li>
      </ul>
  <% else %>
      <%= link_to "Sign up", "signup", id: "sign_up" %>
      <%= link_to "Sign in", "signin", id: "sign_in" %>
      <%= link_to "Sign in with Facebook", "/auth/facebook", id: "fb_sign_in" %>
      <%= link_to "Sign in with Developer", "/auth/developer", id: "dev_sign_in" %>
      <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "google_sign_in" %>
  <% end %>
</div>

<%= yield %>
<%= params.inspect %>
</body>
</html>
